<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Kalkulator Walut</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Kalkulator</h1>
    <form method="POST" action="">
        <label for="currency">Wybierz walutę:</label>
    
        <select name="currency" id="currency">
        <option value="dolar amerykański">USD</option>
        <option value="dolar austarlyjski">AUD</option>
        <option value="dolar kanadyjski">CAD</option>
        <option value="euro">EUR</option>
        <option value="forint">HUF</option>
        <option value="frank szawajcarski">CHF</option>
        <option value="funt szterling">GBP</option>
        <option value="jen">JPY</option>
        <option value="korona czeska">CZK</option>
        <option value="korona duńska">DKK</option>
        <option value="korona szwedzka">SEK</option>
        <option value="SDR">XDR</option>
    </select>
    <label for="many">Ilość</label>
    <input name="number" value="0"></input>
    <input type="submit" value="Przelicz">
    </form>
    <h2>Kwota do zapłaty: {{ask}}  PLN</h2>
    
</body>
</html>